@model prestamolibrosnet.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Email</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            <label>Nombre</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            <label>Apellido</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt>
            <label>Password</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            <label>Dirección</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
