@model IEnumerable<prestamolibrosnet.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h2>Préstamos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                <label>Libro</label>
            </th>
            <th>
                <label>Fecha Realizado</label>
            </th>
            <th>
                <label>Fecha Devolución</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.OwnerID == ViewBag.userName)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRealizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDevolucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Devolver</a> |
                <a asp-controller="Calificacions" asp-action="Create" asp-route-myvar="@item.id">Calificar</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
