@model IEnumerable<prestamolibrosnet.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prestamo.libro.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.evaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prestamo.libro.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.evaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
                @Html.ActionLink("Calificar", "Create", "Calificacions", new { idprestamo=item.prestamo.id})
            </td>
        </tr>
}
    </tbody>
</table>
