@model prestamolibrosnet.Models.Prestamo

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<h4>Prestamo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.libro.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @ViewBag.libro_id
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.usuario.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @ViewBag.usuario_id
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="fechaRealizado" class="control-label"></label>
                <input asp-for="fechaRealizado" class="form-control" />
                <span asp-validation-for="fechaRealizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaDevolucion" class="control-label"></label>
                <input asp-for="fechaDevolucion" class="form-control" />
                <span asp-validation-for="fechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="prestado" /> @Html.DisplayNameFor(model => model.prestado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
