@model prestamolibrosnet.Models.Libro

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar el Libro</h2>

<h3>¿Está seguro que desea eliminar el Libro?</h3>
<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>ISBN</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>
        <dt>
            <label>Título</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            <label>Autor</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt>
            <label>Fecha</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            <label>Editorial</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.editorial)
        </dd>
        <dt>
            <label>Estado</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
