@model prestamolibrosnet.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>ISBN</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>
        <dt>
            <label>Título</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            <label>Autor</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt>
            <label>Fecha</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            <label>Editorial</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.editorial)
        </dd>
        <dt>
            <label>Estado</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt>
            <label>Prestado</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prestado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
