@model prestamolibrosnet.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isbn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.autor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.editorial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.editorial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prestado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prestado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
